<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec=https://www.thymeleaf.org/thymeleaf-extras-springsecurity5>
 
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
 <script src="webjars/jquery/3.5.1/jquery.min.js"></script>
 <script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 
<head>
<meta charset="utf-8">
<title>Gestion des Professeurs</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
 <!-- Brand -->
 <a class="navbar-brand" href="#">Gestion Professeurs</a>
 <!-- Links -->
 <ul class="navbar-nav">
 <li class="nav-item">
 <a class="nav-link" th:href="@{ListeProfesseurs}">Home</a>
 </li>
 <!-- Dropdown -->
 <li class="nav-item dropdown">
 <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
 Professeurs
 </a>
 <div class="dropdown-menu">
 <a  class="dropdown-item"  sec:authorize="hasAnyRole('admin','agent')" th:href="@{showCreate}">Ajouter professeur</a>
 <a class="dropdown-item" th:href="@{ListeProfesseurs}">Lister Professeurs</a>
 </div>
 </li>
 <li class="nav-item dropdown">
 <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
 Grades
 </a>
 <div class="dropdown-menu">
 <a class="dropdown-item"  sec:authorize="hasAnyRole('admin','agent')" th:href="@{CreateGrade}">Ajouter Grade</a>
 <a class="dropdown-item" th:href="@{ListeGrades}">Lister Grades</a>
 <a class="dropdown-item" th:href="@{search}">Chercher par Grade</a>
 </div>
 </li>
 
 <li class="nav-item dropdown">
 <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" sec:authorize="hasAnyRole('admin')">
 Users
 </a>
 <div class="dropdown-menu">
 <a class="dropdown-item"  sec:authorize="hasAnyRole('admin')" th:href="@{CreateUser}">Ajouter Utilisateur</a>
 <a class="dropdown-item" th:href="@{ListeUsers}">Lister Utilisateurs</a>
 
 </div>
 </li>
 </ul>
 <ul class="navbar-nav ml-auto" >
 <li class="nav-item dropdown">
 <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
 <span sec:authentication="name"></span>
 </a>
 <div class="dropdown-menu">
 <a class="dropdown-item" sec:authorize="!isAuthenticated()" th:href="@{login}">login</a>
 <a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{logout}">logout</a>
 <a class="dropdown-item" href="#">Profile</a>
 </div>
 </li>
 </ul>
</nav>
<section layout:fragment="Mycontent" >
</section>
</body>
</html>